@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
Add here a form with 2 textbox and a button , 
You must save the content on the BBDD.
This controller have to require login.

</div>
